
block content  
      section.plan(style="height : 150vh;")
         h2 START EATING HEALTHY TODAY
         .plan-parent
            for plan in plans
               include planCard

       
                